<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feng.login">

    <application android:name="com.feng.login.LoginApp">
        <activity android:name="com.feng.login.LoginActivity"></activity>
        <meta-data android:name="LoginAppInit" android:value="IAppInit"/>
    </application>

</manifest>